.content {
    position: relative;
    display: grid;
    grid-template-areas:
    'spacer avatar message spaser';
    grid-template-columns: 7fr 100px 3fr 8fr;
    /*justify-content: center;*/
}

.content::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 584px;
    display: block;
    width: 30px;
    height: 30px;
    background: radial-gradient(60px at top left, transparent 49%, rgba(72, 72, 72, 0.4) 51%) no-repeat right bottom;
    /*border: black 1px solid;*/

}

.avatar {
    align-self: end;
    justify-self: center;


}

.avatar img {
    grid-area: avatar;
    width: 70px;
}

.message {
    grid-area: message;
    display: grid;
    grid-template-areas:
    'name name name'
    'messageText messageText tmstmp';
    grid-template-columns: 1fr 1fr 60px;
    /*border: rgba(255, 0, 0, 0.13) 1px solid;*/
    background-color: rgba(72, 72, 72, 0.4);
    border-end-end-radius: 10px;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
    border-end-start-radius: 0px;
}

.name {
    grid-area: name;
    padding: 10px 0 0 20px;
    color: blueviolet;
    font-size: 24px;
    justify-self: left;
}

.messageText {
    grid-area: messageText;
    display: inline;
    padding: 5px 10px 10px 20px;
    color: white;
    justify-self: left;
}

.tmstmp {
    grid-area: tmstmp;
    display: inline;
    text-align: right;
    color: white;
    padding: 5px 10px 10px 0;
    align-self: end;
}

.spacer {
    grid-area: spacer;
}



