.content {
    display:grid;
    grid-template-areas:
    'title priority delBtn';
    grid-template-columns: 100px 50px 50px;
    grid-gap: 5px;
    margin: 3px 0 3px 0;
}


.hiPriorityTitle {
    color: red;
    grid-area: title;
}

.lowPriorityTitle {
    color: darkslategrey;
    grid-area: title;
}

.middlePriorityTitle {
    color: orange;
    grid-area: title;
}


.priority {
    grid-area: priority;
}


.delBtn {
    grid-area: delBtn;
    background-color: #c7c7c7;
    border-radius: 10px;
    width: 30px;
    margin: 0 10px 0 10px;

}

.delBtn:hover {
    grid-area: delBtn;
    background-color: #e86d17;
    border-radius: 10px;
    width: 30px;
    margin-left: 10px;
    transition: 0.7s;
    color: white;

}