/* Dropdown Button */
.dropbtn {
    background-color: rgba(72, 72, 72, 0.4);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    height: 20px;
    line-height: 0;
    border: 1px solid black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    display: block;
    text-align: left;
    top: 15px;

}

/* Dropdown Content (Hidden by Default) */
.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown_content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown_content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgba(47, 79, 79, 0.42);}