.menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(100, 121, 114, 0.9);
    transition: 0.5s;
    transform: translateX(-100%);
}

.menu_active {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(100, 121, 114, 0.5);
    transition: 0.5s;
    transform: translateX(0%);
}

.menu_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    flex-direction: column;
}

.menu_list a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    color: rgba(128, 76, 127, 0.9);
}

.menu_btn {
    width: 30px;
    height: 30px;
    background-color: #333;
    position: absolute;
    right: -45px;
    top: 15px;
    background-color: rgba(100, 121, 114, 0.5);
    border-radius: 50%;
    border: 1px solid black;
}
